body
	{
		background: #ffffff;
		position: relative;
	}

h2, h3, h4, #logo, #menu-list .paginate_button > a
    {
        font-family: 'Pacifico', cursive;
        font-weight: bold;
    }

#home h2, #menu-list .table-menu td:nth-child(even){
		font-family: 'Sigmar One', cursive;		
}

#home h2{
	font-size: 3.5em;
	font-weight: bold;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}

p
    {
        line-height: 26px;
    }

i{
	color: #e74c3c;
}

.btn-style a{
  padding-right: 1em;
  padding-left: 1em;
  font-size: 1.3em;
  font-weight: bold;
  background:#e74c3c;
  border-radius:2px;
  padding:0.5em;
  color:#fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn-style a:hover{
  background:#EF5350;
  color:#fff;
}


/* start all section */
#divider
    {
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }
/* end all section */

/* start nagivation */
.navbar-default
    {
        background: #212121;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0 !important;
        padding: 0;
    }
.navbar-default .navbar-brand
    {
        padding-top: 4px;
        padding-bottom: 60px;
    }
.navbar-default .navbar-nav li a
    {
        font-size: 13px;
        font-weight: bold;
        line-height: 35px;
    }

#nav-menu a{
	font-size: 0.7em;
	color: #fff;
}

.nav-active, #nav-menu a:hover, #nav-menu a:focus, #nav-menu a:active{
  color: #fff;
  background-color: #e74c3c;
	outline: none;
}


.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 16px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #93ca3a;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }

#logo{
  font-size: 0.9em;
  color: #fff;
}

#logo span{
  color: #e74c3c;
}
/* end navigation */

/* start home */
#home
	{
      padding-top: 65px;
	}
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  padding: 0;
  position: relative;
  zoom: 1;
  background-color: #371604;
  overflow: hidden;
  margin: 0;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides img {
  width: 100%;
  min-width: 648px;
  min-height: 270px;
  display: block;
}
.flexslider .slides > li {
  display: none;
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: 100%;
}
.slider-caption {
  color:white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flexslider .btn
{
    background: #e74c3c;
    border-radius:2px;
    color: #FFFFFF;
    font-weight: bold;
		border: 2px solid transparent;
    margin: 40px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
    padding: 12px 10px 10px 10px;
}
.flexslider .btn:hover,
.flexslider .btn:focus {
    background:#EF5350;
    color: #fff;
}

/* end home */

/* start service */
#service .media .media-heading
    {
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 10px;
    }

  #service{
    margin-top: 1em;
    margin-bottom: 1em;
  }

.media img{
  width: 280px;
  height: 210px;
}

.media span{
  color:#e74c3c;
}

.row{
  margin-bottom: 1em;
}
/* end service */

/* start divider */
#divider
    {
        background: #c0392b;
        background-size: cover;
        background-repeat: no-repeat;
        color: #FFFFFF;
    }
#divider h2
    {
        font-size: 40px;
    }
#divider strong
    {
        color: #f1c40f;
    }
#divider h3
    {
        padding-bottom: 30px;
    }
/* end divider */

/* start about */
#about h3
    {
        color: #93ca3a;
        font-size: 40px;
        padding-bottom: 10px;
    }
#about h4
    {
        padding-bottom: 10px;
    }
#about .progress
    {
        border-radius: 4px;
        background: #ffffff;
        height: 6px;
    }
#about .progress .progress-bar-danger
    {
        background: #93ca3a;
    }
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        display: block;
        padding-bottom: 10px;
    }
#about small
    {
        font-weight: bold;
        padding-left: 200px;
    }
/* end about */

/* start team */
#team
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
    }
#team h2
    {
        padding-bottom: 30px;
    }
#team img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 10px;
        transition: all 0.4s ease-in;
    }
#team img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#team h3
    {
        color: #93ca3a;
        padding-bottom: 10px;
    }
#team h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
/* end team */

/* start newsletter */
#newsletter
    {
        background: url('../images/newsletter-bg.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
        text-align: center;
        padding-top: 120px;
        padding-bottom: 120px;
    }
#newsletter p
    {
        padding-bottom: 30px;
    }
#newsletter .btn
    {
        background: transparent;
        border-radius: 0px;
        color: #ffffff;
        margin-top: 40px;
    }
#newsletter .form-control
    {
        background: transparent;
        border-color: #f2f2f2;
        border-radius: 0px;
        color: #ffffff;
        height: 50px;
    }
#newsletter input[type="submit"]
    {
        background: #93ca3a;
        border: 2px solid transparent;
        color: #ffffff;
    }
#newsletter .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
#newsletter .form-control:-ms-input-placeholder {
  color: #ffffff;
}
#newsletter .form-control::-webkit-input-placeholder {
  color: #ffffff;
}
/* end newsletter */

/* start pricing */
#pricing
    {
        border-bottom: 1px solid #f6f6f6;
    }
#pricing .col-md-3,
#pricing .col-sm-6
    {
        padding: 0;
        margin: 0;
    }
#pricing .plan
  {
    border: 1px solid #f6f6f6;
    margin-top: 100px;
    transition: all 0.4s ease-in;
    padding: 40px;
  }
#pricing .plan_one
 {
    margin-top: 60px;
 }
#pricing .plan_two
 {
    margin-top: 80px;
 }
#pricing .plan_three
 {
    margin-top: 40px;
 }
#pricing .plan_four
 {
    margin-top: 0px;
 }
#pricing .plan:hover
  {
    background: #202020;
    color: #ffffff;
    transform: scale(1.0);
  }
#pricing .plan .plan_title
  {
    border-bottom: 1px solid #f6f6f6;
    color: #9bc848;
    font-size: 30px;
    padding: 20px;
  }
#pricing .plan ul
  {
    padding: 0;
  }
#pricing .plan ul li
  {
    display: block;
    padding: 20px 0 20px 0;
  }
#pricing .plan .btn
  {
    background: #93ca3a;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
    width: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
  }
#pricing .plan .btn:hover
  {
    background: #FFFFFF;
    color: #66AF33;
  }
/* end pricing */

/* start portfolio */
#portfolio h2
    {
        padding-bottom: 30px;
    }
#portfolio .portfolio-thumb
    {
        overflow: hidden;
        margin: 0;
        position: relative;
    }
#portfolio .portfolio-thumb .portfolio-overlay
    {
        background: #333;
        color: #ffffff;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding: 60px 60px 0px 60px;
        text-align: center;
        position: absolute;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }
#portfolio .portfolio-thumb:hover .portfolio-overlay
    {
        opacity: 0.9;
        transform: scale(1.1);
    }
#portfolio .portfolio-thumb .portfolio-overlay .fa
    {
        border: 1px solid #ffffff;
        border-radius: 50%;
        color: #ffffff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-decoration: none;
        margin-right: 6px;
        margin-bottom: 10px;
    }
/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#menu-contact{
	margin-top: 7em;
}

#menu-contact span{
	color: #e74c3c;
}

.sub-tit{
	font-weight: bold;
}
/* end contact */

/* start google map */
#map-canvas
  {
    border: none;
    width: 100%;
    height: 320px;
  }
/* end google map */

/* start footer */
footer
    {
        padding-top: 40px;
        padding-bottom: 20px;
        background: #212121;
    }
footer p
    {
        line-height: 12px;
    }
footer .social-icon
    {
				text-align: center;
        top: 0px;
    }

.copyright{
	margin-top: 5em;
	text-align: center;
}

.copyright span{
	font-family: 'Pacifico', cursive;
	font-weight: bold;
}
/* end footer */

.too-icon {
	padding: 10px;
}

/* start social icon */
.social-icon a
    {
        color: #fff;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon a:hover
    {
        background: #e74c3c;
				border-radius: 2px;
    }
/* end social icon */

#menu-list h3{
		color: #9E9E9E;
		font-size: 1em;
}

#menu-list .slick-center h3{
  color: #212121;
	font-size: 2em;
}

#menu-list .slick-center span{
    color: #e74c3c;
}

.data-menu{
	margin-top: 1em;
	text-align: center;
}

.table-menu tfoot{
	background: #e74c3c;
}

#menu-list .table-menu th{
	text-align: center;
	background: #e74c3c;
	padding-right: 0;
}

#menu-list .table-menu th > h3{
	color: #fff;
}

#menu-list .table-menu th > h3{
	font-size: 1.5em;
}

#menu-list .table-menu td:nth-child(even){
	font-weight: bold;
	font-style: italic;
}

#menu-list .row{
	margin-bottom: 0;
}

#menu-list a{
	color: #e74c3c;
}

#menu-list table.dataTable thead > tr > th{
	padding-right: 0;
}

#menu-list .active > a{
	background: #e74c3c;
	border-color: #e74c3c;
	color: #fff;
}

#table-menu-1, #table-menu-2, #table-menu-3, #table-menu-4{
	width:70%;
}

#galeri{
	margin-top:7em;
	margin-bottom:7.5em;
	width:85%;
	margin-left:auto;
	margin-right:auto;
}

#galeri-title h3{
	font-size: 5em;
}

@media only screen and (max-width: 1199px) {
    .flexslider h1 { font-size: 30px; }
    .flexslider h2 { font-size: 24px; }
}

/* start templatemo 768 media quires */
@media only screen and ( max-width: 768px ) {
    .navbar-default .navbar-brand { margin-left: 20px; }
    .navbar-default .navbar-nav { margin: 0; }
    .navbar-default .navbar-collapse
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .flexslider h1 { font-size: 26px; }
    .flexslider h2 { font-size: 18px; }
    .templatemo-slider-btn {
        margin-top: 10px;
        width: 180px;
        height: 40px;
        padding-top: 8px;
    }
}
/* end templatemo 768 media quires */

/* start templatemo 600 media quires */
@media only screen and ( max-width: 640px ) {
    .flexslider h1 { font-size: 20px; }
    .flexslider h2 { font-size: 14px; }
    .templatemo-slider-btn {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px;
    }
}
/* end templatemo 600 media quires */

/* start templatemo 360 media quires */
@media only screen and ( max-width: 360px ) {
    #team .col-md-4
        {
            padding-top: 40px;
        }

			.social-icon{
					text-align: center;
			}

}
/* end templatemo 360 media quires */
